body {
  background-color: #282c34;
}

.App {
  text-align: center;
  height:100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dice-button {
  width: 60px;
  height: 60px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
}

.dice-result {
  font-size: 40px;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  width: 100px;
}

.dice-icon {
  width: 50px;
}

.dice-result-container {
  margin-top: 50px;
}

.player-card {
  border: 1px solid black;
  width: auto;
  display: inline-block;
  background-color: rgb(175, 175, 175);
  margin-left: 10px;
  margin-right: 10px;
}

.name-input {
  font-size: 30px;
  text-align: center;
  background: none;
  border: none;
}

.level-input {
  font-size: 16px;
  text-align: center;
  background: none;
  border: none;
  width:40px;
}

.string-input {
  font-size: 16px;
  text-align: center;
  background: none;
  border: none;
  width:80px;
}

.player-ability-stats {
  display: inline-block;
  margin-left: 10px;
  font-size: 19px;
}

.player-ability-stats > table, td {
  border-collapse: collapse;
}

.player-active-stats input {
  width: 50px;
  height: 30px;
  float: right;
  font-size: 16px;
  text-align: center;
  background: none;
  margin-right: 10%;
}

.player-active-stats label {
  text-align: left;
  width: 150px;
  float:left;
  margin-left: 20%;
}

.stat-input {
  background: none;
  width: 50px;
  font-size: 18px;
}

.hp-max {
  font-size: 25px;
  margin-left: 5px;
}

.delete-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  float: right;
}

.add-button {
  height:50px;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.header-button {
  height:50px;
  font-size: 25px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

.header-button.active {
  background-color: rgb(169, 242, 255);
}

.hidden { 
  display: none;
}

.tab-container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 100px;
}

.up-arrow, .down-arrow, .right-arrow {
  width: 50px;
  height: 50px;
  display: block;
}

.up-arrow, .down-arrow {
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid black;
}

.combat-change-turn-container {
  display: inline-block;
}

.combat-order-table {
  display: inline-block;
  font-size: 30px;
  margin-left: 20px;
}

.combat-order-table td {
  padding:5px;
}

.combat-name-column {
  height: 60px;
  text-align: left;
}

.combat-notes-column input {
  width: 300px;
  border: 1px solid lightgray;
}

.combat-timer-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.combat-timer {
  font-size: 20px;
}

.npc-bio {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}

.npc-bio .long-text-input{
  background: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.notes-label {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.enemy-notes {
  background: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.delete-quest-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  vertical-align: top;
}